.auth{

    background-color: $primary;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        max-width: 400px;
        margin: 0 auto;
    }
}